<label class="h3">{{ 'themeCustom.title' | translate }}</label>
<div class="card mb-3">
  <table mat-table [dataSource]="themeCustomList" multiTemplateDataRows>
    <ng-container matColumnDef="order">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'g.order' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.seq }}
      </td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'themeLabel.type' | translate }}
      </th>
      <td mat-cell *matCellDef="let element; let i = dataIndex">
        <select
          [(ngModel)]="element.type"
          name="customType{{ i }}"
          class="form-control"
          style="min-width: 200px">
          @for (type of eThemeCustomType | keyvalue; track $index) {
            <option [value]="type.key">
              {{ 'themeCustom.' + type.key | translate }}
            </option>
          }
        </select>
      </td>
    </ng-container>
    <ng-container matColumnDef="byKey">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'themeCustom.byKey' | translate }}
      </th>
      <td mat-cell *matCellDef="let element; let i = dataIndex">
        <input
          class="form-control"
          name="customByKey{{ i }}"
          [(ngModel)]="element.byKey" />
      </td>
    </ng-container>
    <ng-container matColumnDef="label">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'themeCustom.labelName' | translate }}
      </th>
      <td mat-cell *matCellDef="let element; let i = dataIndex">
        <input
          class="form-control"
          name="customLabel{{ i }}"
          [(ngModel)]="element.label" />
      </td>
    </ng-container>
    <ng-container matColumnDef="other">
      <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
      <td mat-cell *matCellDef="let element; let i = dataIndex">
        <div class="row flex-nowrap">
          <div
            class="flex column align-content-center"
            style="width: 48px"
            role="group"
            aria-label="Vertical button group">
            @if (i !== 0) {
              <mat-icon class="dropupdown-icon up" (click)="onUpDown(i, 'up')"
                >arrow_drop_up</mat-icon
              >
            }
            @if (i !== themeCustomList.length - 1) {
              <mat-icon
                class="dropupdown-icon down"
                (click)="onUpDown(i, 'down')"
                >arrow_drop_down</mat-icon
              >
            }
          </div>
          <button mat-icon-button (click)="onDelete(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="add">
      <td
        mat-footer-cell
        *matFooterCellDef
        [attr.colspan]="displayedColumns.length">
        <div class="row justify-content-center">
          <button mat-button class="rounded" (click)="onAdd()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="expandedDetail">
      <td
        mat-cell
        *matCellDef="let element; let i = dataIndex"
        [attr.colspan]="displayedColumns.length">
        <div class="d-flex flex-column mb-2">
          @switch (element.type) {
            @case ('buttonIconBoolean') {
              <div class="d-flex align-items-center">
                <h6 class="mb-0">
                  {{ 'themeCustom.writeIconName' | translate }}
                </h6>
                <a
                  href="https://fonts.google.com/icons"
                  class="card-link text-nowrap p-2"
                  target="_blank"
                  >{{ 'themeCustom.googleIconUrl' | translate }}</a
                >
              </div>

              <div class="d-flex input-group">
                <input
                  class="form-control"
                  [placeholder]="'themeCustom.clickBeforeIcon' | translate"
                  [(ngModel)]="element.buttonIconTrue"
                  name="customButtonIconTrue{{ i }}" />
                <input
                  class="form-control"
                  [placeholder]="'themeCustom.clickAfterIcon' | translate"
                  [(ngModel)]="element.buttonIconFalse"
                  name="customButtonIconFalse{{ i }}" />
              </div>
            }
            @case ('buttonIconFill') {
              <div class="d-flex align-items-center">
                <h6 class="mb-0">
                  {{ 'themeCustom.writeIconName' | translate }}
                </h6>
                <a
                  href="https://fonts.google.com/icons"
                  class="card-link text-nowrap p-2"
                  target="_blank"
                  >{{ 'themeCustom.googleIconUrl' | translate }}</a
                >
              </div>
              <div class="d-flex">
                <input
                  class="form-control mt-1"
                  [placeholder]="'themeCustom.fillIcon' | translate"
                  [(ngModel)]="element.buttonIconFill"
                  name="customButtonIconFill{{ i }}" />
                <input
                  type="color"
                  [placeholder]="'themeCustom.fillIconColor' | translate"
                  class="form-control form-control-color mt-1"
                  [(ngModel)]="element.buttonIconFillColor"
                  name="customButtonIconFillColor{{ i }}" />
              </div>
            }
            @case ('copyValue') {
              <input
                class="form-control mt-1"
                [placeholder]="'themeCustom.copyValuePH' | translate"
                [(ngModel)]="element.copyValue"
                name="customCopyValue{{ i }}" />
            }
            @case ('copyValueByKey') {
              <input
                class="form-control mt-1"
                [placeholder]="'themeCustom.copyValueByKeyPH' | translate"
                [(ngModel)]="element.copyValueByKey"
                name="customCopyValueByKey{{ i }}" />
            }
            @case ('openUrl') {
              <input
                class="form-control mt-1"
                [placeholder]="'themeCustom.openUrlPH' | translate"
                [(ngModel)]="element.openUrl"
                name="customOpenUrl{{ i }}" />
            }
            @case ('openUrlByKey') {
              <input
                class="form-control mt-1"
                [placeholder]="'themeCustom.openUrlByKeyPH' | translate"
                [(ngModel)]="element.openUrlByKey"
                name="customOpenUrlByKey{{ i }}" />
            }
            @case ('apiConfig') {
              <div class="mt-1 d-flex flex-wrap gap-3 align-items-center">
                @if (element.apiConfig) {
                  <mat-chip cdkDrag
                    >{{ element.apiConfig.apiName }}
                    <button matChipRemove (click)="removeApi(element)">
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip>
                }
                <button
                  class="btn btn-outline-primary d-flex"
                  (click)="selectApi(element)">
                  <mat-icon class="material-icons-outlined"
                    ><span class="material-symbols-outlined">
                      select_window_2
                    </span></mat-icon
                  >
                </button>
              </div>
            }
          }
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      class="expand-row"></tr>
    <tr
      mat-row
      class="h-auto"
      *matRowDef="let row; columns: ['expandedDetail']"></tr>
    <tr mat-footer-row *matFooterRowDef="['add']"></tr>
  </table>
</div>
