<div
  cdkDropList
  [cdkDropListData]="formArray().controls"
  (cdkDropListDropped)="dropPipeline($event)">
  @for (pipeline of formArray().controls; track $index) {
    @let pipelineType = pipeline.get('type')?.value;
    <div cdkDrag [formGroup]="pipeline" class="card mb-2 p-2 bg-light">
      <div class="d-flex align-items-center gap-2">
        <div class="d-flex">
          <mat-icon cdkDragHandle class="drag-cursor">reorder</mat-icon>
        </div>
        <div class="mx-2">
          <input
            type="checkbox"
            class="form-check-input"
            formControlName="enabled"
            [matTooltip]="'g.enabled' | translate"
            [matTooltipShowDelay]="500" />
        </div>
        <div class="d-flex gap-2">
          <select formControlName="type" class="form-select">
            @for (type of eValuePipelineType | enumKeys; track type) {
              <option [value]="type">
                {{ 'spider.pipeline.' + type | translate }}
              </option>
            }
          </select>
        </div>
        @switch (pipelineType) {
          @case (eValuePipelineType.FIXED_VALUE) {
            <div class="d-flex input-group">
              <input
                class="form-control"
                formControlName="fixedValue"
                trimOnBlur />
            </div>
          }
          @case (eValuePipelineType.FIXED_JSON_VALUE) {
            <div class="d-flex input-group">
              <code-editor
                [style.height]="'100px'"
                formControlName="fixedJsonValue"
                [language]="'json'"
                [indentWithTab]="true"
                [languages]="CodeEditorLanguages" />
            </div>
          }
          @case (eValuePipelineType.EXTRACT_ATTR) {
            <div class="d-flex input-group">
              <input
                class="form-control"
                formControlName="attributeName"
                [placeholder]="'spider.pipeline.attributeName' | translate"
                trimOnBlur />
            </div>
          }
          @case (eValuePipelineType.REPLACE_REGULAR) {
            <div class="d-flex input-group">
              <input
                class="form-control"
                formControlName="pattern"
                [placeholder]="'spider.pipeline.pattern' | translate"
                trimOnBlur />
              <input
                class="form-control"
                formControlName="replacement"
                [placeholder]="'spider.pipeline.replacement' | translate"
                trimOnBlur />
            </div>
          }
          @case (eValuePipelineType.SPLIT_TEXT) {
            <div class="d-flex input-group">
              <input
                class="form-control"
                formControlName="separator"
                [placeholder]="'spider.pipeline.separator' | translate"
                trimOnBlur />
            </div>
          }
          @case (eValuePipelineType.COMBINE_TO_STRING) {
            <div class="d-flex input-group">
              <input
                class="form-control"
                formControlName="combineToString"
                [placeholder]="'spider.pipeline.combineToStringPH' | translate"
                trimOnBlur />
            </div>
          }
          @case (eValuePipelineType.COMBINE_BY_KEY) {
            <div class="d-flex input-group">
              <input
                class="form-control"
                formControlName="combineByKey"
                [placeholder]="'spider.pipeline.combineByKeyPH' | translate"
                trimOnBlur />
            </div>
          }
          @case (eValuePipelineType.USE_REPLACE_VALUE_MAP) {
            <app-chip-select-button
              valueKey="name"
              formControlName="useReplaceValueMap"
              [selectTable]="selectReplaceValueMap"
              [options]="replaceValueMapList()"
              [labelKey]="getReplaceValueMapLabel"
              [required]="true"
              [requiredMsg]="
                'msg.requiredSelectOne' | translate
              "></app-chip-select-button>
          }
          @case (eValuePipelineType.MERGE_MULTI_OBJ_TO_ARRAY) {
            <div class="d-flex input-group">
              <app-chip-input
                class="form-control"
                formControlName="mergeMultiObjKeys"
                [matTooltip]="
                  'spider.pipeline.MERGE_MULTI_OBJ_TO_ARRAY_PH' | translate
                "></app-chip-input>
            </div>
          }
          @case (eValuePipelineType.MERGE_MULTI_ARRAY_TO_ARRAY) {
            <div class="d-flex input-group">
              <app-chip-input
                class="form-control"
                formControlName="mergeMultiArrayKeys"
                [matTooltip]="
                  'spider.pipeline.MERGE_MULTI_ARRAY_TO_ARRAY_PH' | translate
                "></app-chip-input>
            </div>
          }
          @case (eValuePipelineType.CONVERT_TO_CASE) {
            <div class="d-flex input-group">
              <select formControlName="convertToCaseType" class="form-select">
                @for (type of eConvertToCaseType | enumKeys; track type) {
                  <option [value]="type">
                    {{ 'spider.pipeline.convertToCase.' + type | translate }}
                  </option>
                }
              </select>
            </div>
          }
          @case (eValuePipelineType.CURRENT_TIME) {
            <div
              class="d-flex input-group"
              [formGroupName]="'currentTimeFormatOption'">
              <select formControlName="timezones" class="form-select">
                @for (type of eTimezones | keyvalue; track type.key) {
                  <option [value]="type.key">
                    {{ 'timezones.' + type.key | translate }}
                  </option>
                }
              </select>
              <input class="form-control" formControlName="format" trimOnBlur />
            </div>
            <a
              mat-icon-button
              href="https://docs.oracle.com/en/java/javase/22/docs/api/java.base/java/time/format/DateTimeFormatter.html"
              target="_blank">
              <mat-icon>help</mat-icon>
            </a>
          }
          @case (eValuePipelineType.CHINESE_CONVERT) {}
          @case (eValuePipelineType.INSERT) {}
          @case (eValuePipelineType.COPY_SPECIFIED_VALUE_TO) {}
          @case (eValuePipelineType.DELETE) {}
          @case (eValuePipelineType.DELETE_PATHS) {}
          @case (eValuePipelineType.MOVE_CHAR) {}
          @case (eValuePipelineType.JOIN_ARRAY) {}
        }

        <button mat-icon-button class="ms-auto" (click)="onDelete($index)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  }
</div>

<button
  type="button"
  class="btn btn-outline-primary btn-sm mt-1"
  (click)="onAdd()">
  + {{ 'spider.addPipeline' | translate }}
</button>
