<div
  cdkDropList
  [cdkDropListData]="formArray().controls"
  (cdkDropListDropped)="dropPipeline($event)">
  @for (pipeline of formArray().controls; track $index) {
    @let pipelineType = pipeline.get('type')?.value;
    <div cdkDrag [formGroup]="pipeline" class="card mb-2 p-2 bg-light">
      <div class="d-flex align-items-center gap-2">
        <div class="d-flex">
          <mat-icon cdkDragHandle class="drag-cursor">reorder</mat-icon>
        </div>
        <div class="mx-2">
          <input
            type="checkbox"
            class="form-check-input"
            formControlName="enabled"
            [matTooltip]="'g.enabled' | translate"
            [matTooltipShowDelay]="500" />
        </div>
        <div class="d-flex gap-2">
          <select formControlName="type" class="form-select">
            @for (type of eValuePipelineType | enumKeys; track type) {
              <option [value]="type">
                {{ 'spider.pipeline.' + type | translate }}
              </option>
            }
          </select>
        </div>
        @switch (pipelineType) {
          <!-- 固定值 -->
          @case (eValuePipelineType.FIXED_VALUE) {
            <div class="d-flex input-group">
              <input
                class="form-control"
                formControlName="fixedValue"
                trimOnBlur />
            </div>
          }
          <!-- 固定JSON值 -->
          @case (eValuePipelineType.FIXED_JSON_VALUE) {
            <div class="d-flex input-group">
              <code-editor
                [style.height]="'100px'"
                formControlName="fixedJsonValue"
                [language]="'json'"
                [indentWithTab]="true"
                [languages]="CodeEditorLanguages" />
            </div>
          }
          <!-- 當前資料鍵值 -->
          @case (eValuePipelineType.CURRENT_DATA_KEY) {
            <div class="d-flex input-group">
              <input
                class="form-control"
                formControlName="currentDataKey"
                [placeholder]="'spider.pipeline.currentDataKeyPH' | translate"
                trimOnBlur />
            </div>
          }
          <!-- 提取属性 jsoup專用 -->
          @case (eValuePipelineType.EXTRACT_ATTR) {
            <div class="d-flex input-group">
              <input
                class="form-control"
                formControlName="attributeName"
                [placeholder]="'spider.pipeline.attributeName' | translate"
                trimOnBlur />
            </div>
          }
          <!-- 提取自身文本 jsoup專用 無需要的componet -->
          @case (eValuePipelineType.EXTRACT_OWN_TEXT) {}
          <!-- 正則替換 -->
          @case (eValuePipelineType.REPLACE_REGULAR) {
            <div class="d-flex input-group">
              <input
                class="form-control"
                formControlName="pattern"
                [placeholder]="'spider.pipeline.pattern' | translate"
                trimOnBlur />
              <input
                class="form-control"
                formControlName="replacement"
                [placeholder]="'spider.pipeline.replacement' | translate"
                trimOnBlur />
            </div>
          }
          <!-- 分割文本 -->
          @case (eValuePipelineType.SPLIT_TEXT) {
            <div class="d-flex input-group">
              <input
                class="form-control"
                formControlName="separator"
                [placeholder]="'spider.pipeline.separator' | translate"
                trimOnBlur />
            </div>
          }
          <!-- 將字串陣列合併為字串 -->
          @case (eValuePipelineType.JOIN_ARRAY_TO_STRING) {
            <div class="d-flex input-group">
              <input
                class="form-control"
                formControlName="joinSeparator"
                [placeholder]="'spider.pipeline.joinSeparator' | translate" />
            </div>
          }
          <!-- 將多個值合併為字串 -->
          @case (eValuePipelineType.COMBINE_TO_STRING) {
            <div class="d-flex input-group">
              <input
                class="form-control"
                formControlName="combineToString"
                [placeholder]="'spider.pipeline.combineToStringPH' | translate"
                trimOnBlur />
            </div>
          }
          <!-- 根據當前擁有的鍵值資料合併成字串 -->
          @case (eValuePipelineType.COMBINE_BY_KEY) {
            <div class="d-flex input-group">
              <input
                class="form-control"
                formControlName="combineByKey"
                [placeholder]="'spider.pipeline.combineByKeyPH' | translate"
                trimOnBlur />
            </div>
          }
          @case (eValuePipelineType.USE_REPLACE_VALUE_MAP) {
            <app-chip-select-button
              valueKey="name"
              formControlName="useReplaceValueMap"
              [selectTable]="selectReplaceValueMap"
              [options]="replaceValueMapList()"
              [labelKey]="getReplaceValueMapLabel"
              [required]="true"
              [requiredMsg]="
                'msg.requiredSelectOne' | translate
              "></app-chip-select-button>
          }
          @case (eValuePipelineType.MERGE_MULTI_OBJ_TO_ARRAY) {
            <div class="d-flex input-group">
              <app-chip-input
                class="form-control"
                formControlName="mergeMultiObjKeys"
                [matTooltip]="
                  'spider.pipeline.MERGE_MULTI_OBJ_TO_ARRAY_PH' | translate
                "></app-chip-input>
            </div>
          }
          @case (eValuePipelineType.MERGE_MULTI_ARRAY_TO_ARRAY) {
            <div class="d-flex input-group">
              <app-chip-input
                class="form-control"
                formControlName="mergeMultiArrayKeys"
                [matTooltip]="
                  'spider.pipeline.MERGE_MULTI_ARRAY_TO_ARRAY_PH' | translate
                "></app-chip-input>
            </div>
          }
          @case (eValuePipelineType.CONVERT_TO_CASE) {
            <div class="d-flex input-group">
              <select formControlName="convertToCaseType" class="form-select">
                @for (type of eConvertToCaseType | enumKeys; track type) {
                  <option [value]="type">
                    {{ 'spider.pipeline.convertToCase.' + type | translate }}
                  </option>
                }
              </select>
            </div>
          }
          @case (eValuePipelineType.CURRENT_TIME) {
            <div
              class="d-flex input-group"
              formGroupName="currentTimeFormatOption">
              <select formControlName="timezones" class="form-select">
                @for (type of eTimezones | keyvalue; track type.key) {
                  <option [value]="type.key">
                    {{ 'timezones.' + type.key | translate }}
                  </option>
                }
              </select>
              <input class="form-control" formControlName="format" trimOnBlur />
            </div>
            <a
              mat-icon-button
              href="https://docs.oracle.com/en/java/javase/22/docs/api/java.base/java/time/format/DateTimeFormatter.html"
              target="_blank">
              <mat-icon>help</mat-icon>
            </a>
          }
          @case (eValuePipelineType.CHINESE_CONVERT) {
            <div class="d-flex input-group" formGroupName="chineseConvert">
              <select formControlName="zhConverterUtilType" class="form-select">
                @for (type of eZhConverterUtilType | enumKeys; track type) {
                  <option [value]="type">
                    {{
                      'spider.pipeline.zhConverterUtilType.' + type | translate
                    }}
                  </option>
                }
              </select>
              <select formControlName="chineseConvertType" class="form-select">
                @for (type of eChineseConvertType | enumKeys; track type) {
                  <option [value]="type">
                    {{
                      'spider.pipeline.chineseConvertType.' + type | translate
                    }}
                  </option>
                }
              </select>
            </div>
          }
          @case (eValuePipelineType.INSERT) {
            <div class="d-flex input-group" formGroupName="insertConfig">
              <select formControlName="position" class="form-select">
                @for (type of ePositionType | enumKeys; track type) {
                  <option [value]="type">
                    {{ 'spider.pipeline.positionType.' + type | translate }}
                  </option>
                }
              </select>
              @if (
                pipeline.get('insertConfig.position')?.value ===
                ePositionType.NTH
              ) {
                <input
                  type="number"
                  class="form-control"
                  formControlName="index"
                  [matTooltip]="'spider.pipeline.indexNTH' | translate"
                  trimOnBlur />
              }
              <input
                class="form-control"
                formControlName="text"
                [placeholder]="'spider.pipeline.insertText' | translate"
                trimOnBlur />
            </div>
          }
          @case (eValuePipelineType.DELETE) {
            <div class="d-flex input-group" formGroupName="deleteConfig">
              <select formControlName="position" class="form-select">
                @for (type of ePositionType | enumKeys; track type) {
                  <option [value]="type">
                    {{ 'spider.pipeline.positionType.' + type | translate }}
                  </option>
                }
              </select>
              @if (
                pipeline.get('deleteConfig.position')?.value ===
                ePositionType.NTH
              ) {
                <input
                  class="form-control"
                  type="number"
                  formControlName="index"
                  [matTooltip]="'spider.pipeline.indexNTH' | translate" />
              }
              <input
                class="form-control"
                type="number"
                formControlName="length"
                [matTooltip]="'spider.pipeline.deleteLength' | translate"
                trimOnBlur />
            </div>
          }
          @case (eValuePipelineType.DELETE_PATHS) {
            <div class="d-flex input-group">
              <app-chip-input
                class="form-control"
                formControlName="deletePaths"
                [matTooltip]="
                  'spider.pipeline.deletePathsPH' | translate
                "></app-chip-input>
            </div>
          }
          @case (eValuePipelineType.MOVE_CHAR) {
            <div class="d-flex input-group" formGroupName="moveCharConfig">
              <input
                class="form-control"
                type="number"
                formControlName="fromIndex"
                [matTooltip]="'spider.pipeline.fromIndex' | translate" />
              <input
                class="form-control"
                type="number"
                formControlName="toIndex"
                [matTooltip]="'spider.pipeline.toIndex' | translate" />
            </div>
          }
        }

        <button mat-icon-button class="ms-auto" (click)="onDelete($index)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  }
</div>

<button
  type="button"
  class="btn btn-outline-primary btn-sm mt-1"
  (click)="onAdd()">
  + {{ 'spider.addPipeline' | translate }}
</button>
