<h2 mat-dialog-title>{{ 'title.copyTheme' | translate }}</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <div class="mb-3">
      <label for="name" class="form-label require">{{
        'themeHeader.name' | translate
      }}</label>
      <input
        type="text"
        class="form-control"
        [formControl]="nameControl"
        id="name"
        name="name"
        trimOnBlur
        required />
      <app-form-invalids
        [control]="nameControl"
        [formAlerts]="formAlertsObj().name"></app-form-invalids>
    </div>
    <div class="mb-3">
      <label for="version" class="form-label require">{{
        'themeHeader.version' | translate
      }}</label>
      <input
        type="text"
        class="form-control"
        [formControl]="versionControl"
        id="version"
        name="version"
        trimOnBlur
        required />
      <app-form-invalids
        [control]="versionControl"
        [formAlerts]="formAlertsObj().version"></app-form-invalids>
    </div>
    <div class="mb-3">
      <label class="form-label" for="type">{{
        'themeHeader.type' | translate
      }}</label>
      <select
        class="form-control form-select"
        [formControl]="typeControl"
        name="type">
        @for (type of eThemeHeaderType | keyvalue; track type) {
          <option [ngValue]="type.key">
            {{ 'themeHeader.' + type.key | translate }}
          </option>
        }
      </select>
    </div>
    <div class="mb-3">
      <label for="title" class="form-label require">{{
        'themeHeader.title' | translate
      }}</label>
      <input
        type="text"
        class="form-control"
        [formControl]="titleControl"
        id="title"
        name="title"
        trimOnBlur
        required />
      <app-form-invalids
        [control]="titleControl"
        [formAlerts]="formAlertsObj().title"></app-form-invalids>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>
    {{ 'g.no' | translate }}
  </button>
  <button
    mat-button
    cdkFocusInitial
    (click)="ok()"
    [disabled]="form.invalid || isProcessing()">
    {{ 'g.ok' | translate }}
  </button>
</mat-dialog-actions>
