<label class="h3">{{ 'themeLabel.title' | translate }}</label>
<div class="card mb-3">
  <div class="card-body">
    <app-theme-item-manage
      [headerId]="headerId()"
      [type]="eThemeItemType.LABEL"
      [form]="form"
      [defaultBinding]="defaultBinding()"
      (jsonReset)="jsonReset($event)">
    </app-theme-item-manage>
    <app-form-alerts
      [form]="formArray"
      [formAlerts]="formAlerts()"></app-form-alerts>
    <div class="card mb-3">
      <app-generic-table
        [class.table-invalid]="formArray.invalid"
        [initData]="initData()"
        [formArray]="formArray"
        [createGroup]="createGroup.bind(this)"
        [displayedColumns]="displayedColumns"
        [cols]="cols"
        [expandedTmpl]="expandedDetail">
      </app-generic-table>
    </div>
  </div>
</div>

<ng-template #expandedDetail let-element let-index="index">
  <div class="d-flex" [formGroup]="element">
    <div class="column p-1">
      @let type = element.get('type');
      @if (type?.value === eThemeLabelType.stringSplit) {
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            [placeholder]="'themeLabel.splitByPh' | translate"
            formControlName="splitBy" />
          <input
            type="text"
            class="form-control"
            [placeholder]="'themeLabel.useSpacePh' | translate"
            formControlName="useSpace" />
        </div>
      }
      @if (type?.value === eThemeLabelType.date) {
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            [placeholder]="'themeLabel.dateFormatPh' | translate"
            formControlName="dateFormat" />
        </div>
      }
      @if (themeHeaderType() === eThemeHeaderType.table) {
        <div>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              [placeholder]="'themeLabel.width' | translate"
              formControlName="width"
              [class.is-invalid]="
                element.hasError('invalidWidth') &&
                element.get('width')?.touched
              " />
            <input
              type="text"
              class="form-control"
              [placeholder]="'themeLabel.minWidth' | translate"
              formControlName="minWidth"
              [class.is-invalid]="
                element.hasError('invalidMinWidth') &&
                element.get('minWidth')?.touched
              " />
            <input
              type="text"
              class="form-control"
              [placeholder]="'themeLabel.maxWidth' | translate"
              formControlName="maxWidth"
              [class.is-invalid]="
                element.hasError('invalidMaxWidth') &&
                element.get('maxWidth')?.touched
              " />
          </div>
          @if (
            (element.hasError('invalidWidth') &&
              element.get('width')?.touched) ||
            (element.hasError('invalidMinWidth') &&
              element.get('minWidth')?.touched) ||
            (element.hasError('invalidMaxWidth') &&
              element.get('maxWidth')?.touched)
          ) {
            <div class="invalid-feedback d-flex">
              <span class="w-100 d-flex justify-content-center">
                @if (element.hasError('invalidWidth')) {
                  {{ 'msg.widthError' | translate }}
                }
              </span>
              <span class="w-100 d-flex justify-content-center">
                @if (element.hasError('invalidMinWidth')) {
                  {{ 'msg.widthError' | translate }}
                }
              </span>
              <span class="w-100 d-flex justify-content-center">
                @if (element.hasError('invalidMaxWidth')) {
                  {{ 'msg.widthError' | translate }}
                }
              </span>
            </div>
          }
        </div>
      }
      <mat-checkbox
        formControlName="isDefaultKey"
        (change)="changeDefaultKey(index)"
        >{{ 'themeLabel.isDefaultKey' | translate }}</mat-checkbox
      >
      <mat-checkbox formControlName="isVisible">
        {{ 'themeLabel.isVisible' | translate }}
      </mat-checkbox>
      <mat-checkbox formControlName="isSort">{{
        'themeLabel.isSort' | translate
      }}</mat-checkbox>
      @if (type?.value !== eThemeLabelType.seq) {
        <mat-checkbox formControlName="isSearchValue">{{
          'themeLabel.isSearchValue' | translate
        }}</mat-checkbox>
      }

      <mat-checkbox formControlName="isSearchButton">{{
        'themeLabel.isSearchButton' | translate
      }}</mat-checkbox>
      <mat-checkbox formControlName="isCopy">{{
        'themeLabel.isCopy' | translate
      }}</mat-checkbox>

      <mat-checkbox formControlName="autoComplete">{{
        'themeLabel.autoComplete' | translate
      }}</mat-checkbox>
      <mat-checkbox formControlName="useVisibleDataset">{{
        'themeLabel.useVisibleDataset' | translate
      }}</mat-checkbox>
      @if (element.get('useVisibleDataset')?.value) {
        <app-chip-input
          [label]="'themeLabel.visibleDatasetNameListPH' | translate"
          formControlName="visibleDatasetNameList">
        </app-chip-input>
      }
    </div>
  </div>
</ng-template>
