<mat-form-field
  appearance="outline"
  style="width: 100%"
  subscriptSizing="dynamic">
  @if (label()) {
    <mat-label>{{ label() }}</mat-label>
  }
  <mat-chip-grid #chipGrid>
    @for (value of chipList(); track value; let i = $index) {
      <mat-chip-row
        (removed)="removeChip(i)"
        [editable]="true"
        (edited)="editChip(i, $event.value)">
        {{ value }}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    }
    <input
      type="text"
      [matChipInputFor]="chipGrid"
      [matChipInputAddOnBlur]="true"
      (matChipInputTokenEnd)="addChip($event)" />
  </mat-chip-grid>
</mat-form-field>
