<label class="h3">{{ 'themeTag.title' | translate }}</label>
<div class="card mb-3">
  <div class="card-body">
    <app-theme-item-manage
      [headerId]="headerId()"
      [type]="eThemeItemType.TAG"
      [form]="form"
      [defaultBinding]="defaultBinding()"
      (jsonReset)="jsonReset($event)">
    </app-theme-item-manage>
    <app-form-alerts
      [form]="formArray"
      [formAlerts]="formAlerts()"></app-form-alerts>
    <div class="card mb-3">
      <app-generic-table
        [class.table-invalid]="formArray.invalid"
        [initData]="initData()"
        [formArray]="formArray"
        [createGroup]="createGroup.bind(this)"
        [cols]="cols()"
        [displayedColumns]="displayedColumns">
      </app-generic-table>
    </div>
  </div>
</div>
