<h2 mat-dialog-title>{{ title??'title.pleaseSelect' | translate }}</h2>
<mat-dialog-content class="scrollbar-primary">
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows>
    @if (selectType==='multiple') {
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="$event ? toggleAllRows() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>
    } @for (column of displayedColumns; track $index;let index = $index) {
    <ng-container matColumnDef="{{column}}">
      <th mat-header-cell *matHeaderCellDef>{{ labels[index] | translate }}</th>
      <td mat-cell *matCellDef="let element">
        {{ columnFormats?.[column] ? columnFormats![column](element[column]) :
        element[column] }}
      </td>
    </ng-container>
    } @if(selectType==='single'){
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      class="select-row"
      mat-row
      *matRowDef="let row; columns: displayedColumns;"
      (click)="onClickOne(row)"></tr>
    } @else {
    <tr mat-header-row *matHeaderRowDef="multipleDisplayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: multipleDisplayedColumns;"
      (click)="selection.toggle(row)"></tr>
    }
  </table>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">{{ 'g.no' | translate }}</button>
  @if(selectType==='multiple'){
  <button mat-button cdkFocusInitial (click)="onOk()">
    {{ 'g.ok' | translate }}
  </button>
  }
</mat-dialog-actions>
