tr.select-row:hover {
  background: whitesmoke;
  cursor: pointer;
  user-select: none;
}

tr.select-row:active {
  background: #efefef;
  cursor: pointer;
  user-select: none;
}
.search-bar {
  position: sticky;
  top: 0px;
}
.table-container {
  overflow: auto;
  height: 55vh;
}
