<div class="sidenav" [ngClass]="{ 'sidenav-display': openSidenav() }">
  @for (route of routes; track route) {
    <a class="menu-item" [routerLink]="route.path" (click)="close()">{{
      route.title | translate
    }}</a>
  }
  <div class="divider"></div>
  @for (type of eThemeHeaderType | keyvalue; track type.key) {
    @if (list()[type.value].length > 0) {
      <div class="subheader">{{ 'themeHeader.' + type.key | translate }}</div>
      @for (item of list()[type.value]; track $index) {
        <a
          class="menu-item"
          [routerLink]="navigateList(item)"
          [queryParams]="getQueryParamsByHeader(item)"
          (click)="close()"
          >{{ item.title | translate }}</a
        >
      }
    }
  }
</div>
