<div class="sidenav" [ngClass]="{ 'sidenav-display': (openSidenav$ | async) }">
  <a
    *ngFor="let route of myRoutes"
    class="menu-item"
    [routerLink]="route.path"
    (click)="close()"
    >{{ route.title | translate }}</a
  >
  <div class="divider"></div>
  @for (type of eThemeHeaderType | keyvalue; track $index) {
    @if (list[type.value].length > 0) {
      <div class="subheader">{{ 'themeHeader.' + type.key | translate }}</div>
      @for (item of list[type.value]; track $index) {
        <a class="menu-item" (click)="navigateList(item); close()">{{
          item.title | translate
        }}</a>
      }
    }
  }
</div>
