.expanded {
  display: flex;
  justify-content: center;
  width: calc(100vw - var(--setting-sidebar-width));
  > .content {
    margin: 0px 36px;
    width: 100%;
    max-width: 1080px;
    padding-top: 48px;
    > .text-container {
      width: 100%;
      display: flex;
      align-items: start;
      padding-bottom: 24px;
    }
  }
}

.actions {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}
.mat-row > td,
.mat-header-row > th {
  border-bottom: solid #ccc 1px;
}
