<div class="content">
  <div class="content-header">
    <div class="header-left col-4">
      @if (themeDatasetList && themeDatasetList.length > 1) {
        <select
          class="list-select"
          [compareWith]="compareDataset"
          [(ngModel)]="useDataset"
          [matTooltip]="'themeDataset.selectDataset' | translate"
          (change)="changeQueryParams()">
          @for (dataset of themeDatasetList; track $index) {
            <option [ngValue]="dataset">
              {{ dataset.label }}
            </option>
          }
        </select>
      }
      @if (themeTagListForSelect && themeTagListForSelect.length > 1) {
        <select
          class="list-select"
          [compareWith]="compareTag"
          [(ngModel)]="useTag"
          [matTooltip]="'themeTag.selectTag' | translate"
          (change)="changeQueryParams()">
          @for (tag of themeTagListForSelect; track $index) {
            <option [ngValue]="tag">
              {{ tag.tag }}
              {{ tag.seq === -1 ? '' : '(' + getTagValueLength(tag.tag) + ')' }}
            </option>
          }
        </select>
      }
      <button
        class="d-flex"
        mat-icon-button
        [matTooltip]="'g.refresh' | translate"
        (click)="onRefresh()">
        <mat-icon>loop</mat-icon>
      </button>
    </div>
    <div class="header-center col-4">
      <div class="d-flex">
        <input
          type="text"
          class="form-control"
          [matAutocomplete]="auto"
          [(ngModel)]="searchValue"
          (keydown.enter)="changeQueryParams()" />
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="searchChange()">
          @for (option of filterAutoCompleteList(); track option) {
            <mat-option [value]="option">{{ option }}</mat-option>
          }
        </mat-autocomplete>
        @if (autoCompleteList.length > 0) {
          <button
            mat-icon-button
            class="d-flex"
            [matTooltip]="'g.popupSelect' | translate"
            (click)="selectMultipleValue()">
            <mat-icon class="material-icons-outlined"
              ><span class="material-symbols-outlined">
                select_window_2
              </span></mat-icon
            >
          </button>
        }
        <button
          mat-icon-button
          class="d-flex"
          [matTooltip]="'g.clear' | translate"
          (click)="searchValue = []; changeQueryParams()">
          <mat-icon>clear</mat-icon>
        </button>
        <button
          mat-icon-button
          class="d-flex"
          [matTooltip]="'g.search' | translate"
          (click)="changeQueryParams()">
          <mat-icon>search</mat-icon>
        </button>
        @if (defaultKey !== '') {
          <button
            mat-icon-button
            class="d-flex"
            [matTooltip]="'g.random' | translate"
            (click)="randomSearch()">
            <mat-icon>shuffle</mat-icon>
          </button>
        }
      </div>
    </div>
    <div class="header-right col-4">
      <ng-container *ngTemplateOutlet="headerRight"></ng-container>
    </div>
  </div>
  <div class="d-flex mb-2">
    <app-top-custom-buttons
      [themeTopCustomList]="themeTopCustomList"
      [headerId]="headerId"
      [topCustomValueMap]="topCustomValueMap"></app-top-custom-buttons>
  </div>
  <div class="list-content">
    <div class="py-2">
      {{ 'g.totalNum' | translate }}: {{ filterData?.length }}
    </div>
    <ng-container *ngTemplateOutlet="dataListRef"></ng-container>
  </div>
  <div class="content-footer">
    <div class="footer-left col-4"></div>
    <div class="footer-center col-4"></div>
    <div class="footer-right col-4">
      <ng-container *ngTemplateOutlet="headerRight"></ng-container>
    </div>
  </div>
</div>

<ng-template #headerRight>
  @if (sortArray.length > 0) {
    <select
      class="list-select"
      [matTooltip]="'g.sort' | translate"
      [compareWith]="compareSort"
      [(ngModel)]="sortValue"
      (change)="toTop(); changeQueryParams()">
      @for (sort of sortArray; track $index) {
        <option [ngValue]="sort">
          {{ sort.label }}
        </option>
      }
    </select>
    <div class="d-flex flex-column justify-content-center">
      <mat-icon
        class="sortAsc"
        (click)="sortAsc = !sortAsc; toTop(); changeQueryParams()"
        >{{ sortAsc ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</mat-icon
      >
    </div>
  }
  @if (pages.length > 1) {
    <select
      class="list-select"
      [(ngModel)]="currentPage"
      (change)="toTop(); changeQueryParams()">
      @for (page of pages; track $index) {
        <option [ngValue]="page">{{ page }} {{ 'g.page' | translate }}</option>
      }
    </select>
    <div class="d-flex flex-column justify-content-center" style="height: 34px">
      @if (currentPage !== 1 && pages.length !== 1) {
        <mat-icon
          class="prePage"
          (click)="prePage()"
          [matTooltip]="'g.prePage' | translate"
          >keyboard_arrow_up</mat-icon
        >
      }
      @if (currentPage !== pages.length && pages.length !== 1) {
        <mat-icon
          class="nextPage"
          (click)="nextPage()"
          [matTooltip]="'g.nextPage' | translate"
          >keyboard_arrow_down</mat-icon
        >
      }
    </div>
  }
</ng-template>
<ng-template #dataListRef>
  @for (data of viewData; track $index; let i = $index) {
    <div
      class="d-flex card"
      (mouseenter)="hoveredIndex = i"
      (mouseleave)="hoveredIndex = null">
      <div class="card-body">
        <app-img-content
          class="img-content"
          [url]="getImageUrl(data, themeImage)"
          [priority]="i === 0"
          (hiddenFixedImage)="fixedImage.hidden()"
          (visibleFixedImage)="fixedImage.visible()"
          (changeFixedImagePath)="fixedImagePath = $event"
          (delayViewImg)="
            delayViewImg($event.event, $event.url)
          "></app-img-content>
        <div class="detail-content">
          <div class="edit-button">
            @if (hoveredIndex === i && themeTagList.length > 0 && defaultKey) {
              <button
                class="d-flex"
                mat-icon-button
                [matTooltip]="'themeTag.setTag' | translate"
                (click)="onSetTag(data)">
                <mat-icon class="material-icons-outlined"
                  ><span class="material-symbols-outlined">
                    bookmark
                  </span></mat-icon
                >
              </button>
            }
            @if (hoveredIndex === i) {
              <button
                class="d-flex"
                mat-icon-button
                [matTooltip]="'themeDataset.editData' | translate"
                (click)="openEditData(data)">
                <mat-icon class="material-icons-outlined"
                  ><span class="material-symbols-outlined">
                    edit
                  </span></mat-icon
                >
              </button>
            }
          </div>

          <div class="detail-rows scrollbar-primary">
            @for (label of themeLabelList; track $index; let idx = $index) {
              @if (label.isVisible && checkValueVisible(data[label.byKey])) {
                <div class="detail-row">
                  <div class="row-label">{{ label.label }}</div>
                  <app-list-item-value
                    [data]="data"
                    [themeLabel]="label"
                    [isHover]="hoveredIndex === i"
                    [seqKey]="seqKey"
                    (searchChange)="searchChange($event)"></app-list-item-value>
                </div>
              }
            }
            @if (themeTagList.length > 0) {
              <div class="detail-row">
                <div class="row-label">{{ 'g.tag' | translate }}</div>
                <app-item-tag-buttons
                  [value]="data[defaultKey]"
                  [data]="data"
                  [themeTagList]="themeTagList"
                  [themeTagValueList]="themeTagValueList"
                  (tagValueUpdate)="
                    tagValueUpdate($event)
                  "></app-item-tag-buttons>
              </div>
            }
          </div>

          @if (defaultKey && themeCustomList.length > 0) {
            <div class="buttons-panel">
              <app-custom-buttons
                [themeCustomList]="themeCustomList"
                [data]="data"
                [headerId]="headerId"
                [defaultKey]="defaultKey"
                [customValueMap]="customValueMap"
                [fileExist]="fileExist"
                [themeHeaderType]="themeHeaderType"
                [currentDatasetName]="
                  datasetDataMap[datasetSeq - 1].themeDataset.label
                "></app-custom-buttons>
            </div>
          }
        </div>
      </div>
    </div>
  }
</ng-template>

<app-scrollTop></app-scrollTop>
<app-fixed-image
  #fixedImage
  [fixedImagePath]="fixedImagePath"></app-fixed-image>
