<label class="h3">{{ 'title.topCustom' | translate }}</label>
<div class="card mb-3">
  <div class="card-body">
    <app-theme-item-manage
      [headerId]="headerId()"
      [type]="eThemeItemType.TOPCUSTOM"
      [form]="form"
      [defaultBinding]="defaultBinding()"
      (jsonReset)="jsonReset($event)">
    </app-theme-item-manage>
    <div class="card mb-3">
      <app-generic-table
        [class.table-invalid]="formArray.invalid"
        [formArray]="formArray"
        [initData]="initData()"
        [createGroup]="createGroup.bind(this)"
        [displayedColumns]="displayedColumns"
        [cols]="cols"
        [expandedTmpl]="expandedTmpl">
      </app-generic-table>
    </div>
  </div>
</div>
<ng-template #expandedTmpl let-element>
  <div class="d-flex flex-column mb-2" [formGroup]="element">
    @switch (element.get('type')?.value) {
      <!-- 開啟自定義網址 -->
      @case (eThemeTopCustomType.openUrl) {
        @let openUrl = element.get('openUrl');
        <input
          class="form-control mt-1"
          [placeholder]="'themeCustom.openUrlPH' | translate"
          formControlName="openUrl"
          required="" />
        <select
          formControlName="openWindowsTarget"
          class="form-control"
          style="min-width: 200px">
          @for (type of eOpenWindowTargetType | keyvalue; track type.key) {
            <option [value]="type.key">
              {{ 'themeCustom.' + type.key | translate }}
            </option>
          }
        </select>
        <app-form-invalids
          [control]="openUrl"
          [formAlerts]="formAlertsObj().openUrl"></app-form-invalids>
      }
      @case (eThemeTopCustomType.apiConfig) {
        <div class="mt-1 d-flex flex-wrap gap-3 align-items-center">
          <app-chip-select-button
            valueKey="apiName"
            [formControl]="element.get('apiName')"
            [selectTable]="selectApi.bind(this)"
            [options]="apis.value()"
            [labelKey]="getApiLabelName"
            [required]="true"
            [requiredMsg]="
              'msg.requiredSelectOne' | translate
            "></app-chip-select-button>
        </div>
      }
    }
  </div>
</ng-template>
