<div class="mt-3">
  <div class="d-flex mb-2 mx-4">
    <div class="d-flex col-4">
      @if (themeDatasetList && themeDatasetList.length > 1) {
        <select
          class="form-select"
          [compareWith]="compareDataset"
          [(ngModel)]="useDataset"
          [matTooltip]="'themeDataset.selectDataset' | translate"
          (change)="changeDataset()">
          @for (dataset of themeDatasetList; track $index) {
            <option [ngValue]="dataset">
              {{ dataset.label }}
            </option>
          }
        </select>
      }
      @if (themeTagListForSelect && themeTagListForSelect.length > 1) {
        <select
          class="form-select"
          [compareWith]="compareTag"
          [(ngModel)]="useTag"
          [matTooltip]="'themeTag.selectTag' | translate"
          (change)="changeTag()">
          @for (tag of themeTagListForSelect; track $index) {
            <option [ngValue]="tag">
              {{ tag.tag }}
              {{ tag.seq === -1 ? '' : '(' + getTagValueLength(tag.tag) + ')' }}
            </option>
          }
        </select>
      }
      <button
        class="d-flex"
        mat-icon-button
        [matTooltip]="'g.refresh' | translate"
        (click)="onRefresh()">
        <mat-icon>loop</mat-icon>
      </button>
    </div>
    <div class="d-flex col-4">
      <input
        type="text"
        class="form-control"
        [matAutocomplete]="auto"
        [(ngModel)]="searchValue"
        (keydown.enter)="searchChange()" />
      <mat-autocomplete #auto="matAutocomplete">
        @for (option of filterAutoCompleteList(); track option) {
          <mat-option [value]="option">{{ option }}</mat-option>
        }
      </mat-autocomplete>
      <button
        mat-icon-button
        class="d-flex"
        [matTooltip]="'g.popupSelect' | translate"
        (click)="selectMultipleValue()">
        <mat-icon class="material-icons-outlined"
          ><span class="material-symbols-outlined">
            select_window_2
          </span></mat-icon
        >
      </button>
      <button
        mat-icon-button
        class="d-flex"
        [matTooltip]="'g.clear' | translate"
        (click)="searchValue = []; searchChange()">
        <mat-icon>clear</mat-icon>
      </button>
      <button
        mat-icon-button
        class="d-flex"
        [matTooltip]="'g.search' | translate"
        (click)="searchChange()">
        <mat-icon>search</mat-icon>
      </button>
    </div>
    <div class="d-flex col-4 justify-content-end">
      @if (defaultKey && themeOtherSetting.showDuplicate) {
        <button mat-button (click)="showDuplicate()">
          {{ 'themeTopCustom.showDuplicate' | translate }}
        </button>
      }
      @if (defaultKey && themeCustomList.length > 0) {
        <button mat-button (click)="isExpand = !isExpand">
          {{ 'themeCustom.showCustomButton' | translate }}
        </button>
      }
    </div>
  </div>
  <div class="d-flex mb-2 mx-4">
    <app-top-custom-buttons
      [themeTopCustomList]="themeTopCustomList"
      [headerId]="headerId"
      [topCustomValueMap]="topCustomValueMap"></app-top-custom-buttons>
  </div>
  <mat-paginator
    class="mat-paginator"
    [pageSizeOptions]="[100, 300, 500]"
    [showFirstLastButtons]="true"></mat-paginator>
  <table mat-table [dataSource]="list" multiTemplateDataRows matSort>
    @for (label of themeLabelList; track $index; let index = $index) {
      <ng-container [matColumnDef]="label.byKey">
        <th
          mat-header-cell
          *matHeaderCellDef
          [mat-sort-header]="label.byKey"
          [disabled]="!label.isSort">
          {{ label.label }}
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          [ngStyle]="{
            width: getWidth(label, 'width'),
            'max-width': getWidth(label, 'maxWidth'),
            'min-width': getWidth(label, 'minWidth'),
            'border-bottom': isExpand ? 'none' : 'solid #ccc 1px',
          }">
          <app-list-item-value
            [themeLabel]="label"
            [data]="element"
            [isHover]="true"
            [seqKey]="seqKey"
            (searchChange)="searchChange($event)"></app-list-item-value>
        </td>
        <td mat-footer-cell *matFooterCellDef>
          @switch (label.type) {
            @case ('fileSize') {
              {{ fileSizeTotal(label.byKey) | fileSize }}
            }
          }
        </td>
      </ng-container>
    }

    <ng-container matColumnDef="other">
      <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
      <td
        mat-cell
        *matCellDef="let element; let i = dataIndex"
        [ngStyle]="{
          'border-bottom': isExpand ? 'none' : 'solid #ccc 1px',
        }">
        <div class="row flex-nowrap">
          @if (defaultKey) {
            <button
              class="d-flex"
              mat-icon-button
              [matTooltip]="'themeTag.setTag' | translate"
              (click)="onSetTag(element)">
              <mat-icon class="material-icons-outlined"
                ><span class="material-symbols-outlined">
                  bookmark
                </span></mat-icon
              >
            </button>
          }
          <button
            class="d-flex"
            mat-icon-button
            [matTooltip]="'themeDataset.editData' | translate"
            (click)="openEditData(element)">
            <mat-icon class="material-icons-outlined"
              ><span class="material-symbols-outlined"> edit </span></mat-icon
            >
          </button>
        </div>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="expanded">
      <td
        mat-cell
        *matCellDef="let element; let i = dataIndex"
        [attr.colspan]="displayedColumns.length"
        [ngStyle]="{
          'border-bottom': isExpand ? 'solid #ccc 1px' : 'none',
          'border-top': 'none',
        }">
        <div [@detailExpand]="isExpand ? 'expanded' : 'collapsed'">
          <app-custom-buttons
            [themeCustomList]="themeCustomList"
            [data]="element"
            [headerId]="headerId"
            [defaultKey]="defaultKey"
            [customValueMap]="customValueMap"
            [fileExist]="fileExist"></app-custom-buttons>
        </div>
      </td>
    </ng-container>
    <tr
      class="mat-header-row"
      mat-header-row
      *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns; let i = dataIndex"
      class="mat-row"
      [style.backgroundColor]="list.data[i][colorStr] || ''"
      [ngStyle]="{
        'border-bottom': isExpand ? 'none' : 'solid #ccc 1px',
      }"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['expanded']; let i = dataIndex"
      style="height: 0px"
      [style.backgroundColor]="list.data[i][colorStr] || ''"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
</div>
<app-scrollTop></app-scrollTop>
