table {
  width: 100%;
  background-color: var(--mat-table-background-color, var(--mat-app-surface));
}
.mat-row > td,
.mat-header-row > th {
  border-bottom: solid #ccc 1px;
}
.mat-paginator {
  background-color: #9ebeff;
}
