.sidenav {
  display: flex;
  z-index: 102;
  overflow: auto;
  transition: margin-left 0.3s;
}
.layout-mask {
  display: none;
  z-index: 980;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition-duration: 0.2s;
  opacity: 0;
}
.layout-mask.layout-mask-activity {
  display: block !important;
  pointer-events: auto;
  opacity: 1;
}
