<div class="container d-flex">
  <div class="col-md-10 offset-md-1 col-xs-12 mt-2">
    <form [formGroup]="form">
      <button
        type="button"
        mat-icon-button
        class="d-flex align-content-center"
        (click)="onBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>

      <div class="form-group mb-2">
        <label>{{ 'spider.spiderId' | translate }}</label>
        <input class="form-control" formControlName="spiderId" trimOnBlur />
      </div>

      <div class="form-group mb-2">
        <label>{{ 'g.description' | translate }}</label>
        <input class="form-control" formControlName="description" trimOnBlur />
      </div>

      <div class="form-group mb-2">
        <label>{{ 'spider.primeKeySize' | translate }}</label>
        <input
          class="form-control"
          type="number"
          formControlName="primeKeySize" />
        <label class="form-text">{{
          'spider.primeKeySizeDesc' | translate
        }}</label>
      </div>

      <div class="my-3">
        <mat-checkbox formControlName="isUrlBased">
          {{ 'spider.isUrlBased' | translate }}
        </mat-checkbox>
      </div>
      <div class="d-flex gap-2">
        <button type="button" class="btn btn-success" (click)="update()">
          {{ 'g.save' | translate }}
        </button>
        @if (isEditMode) {
          <button
            type="button"
            class="btn btn-primary"
            (click)="onAddItemTab()">
            {{ 'spider.createSpiderItem' | translate }}
          </button>
        }
        @if (isEditMode && showDeleteItemButton()) {
          <button
            type="button"
            class="btn btn-danger"
            (click)="onDeleteItemTab()">
            {{ 'spider.deleteSpiderItem' | translate }}
          </button>
        }
      </div>

      @if (isCreateMode) {
        <div class="form-text mb-2">
          {{ 'spider.saveFirstHint' | translate }}
        </div>
      }

      <mat-tab-group
        cdkDropList
        cdkDropListOrientation="horizontal"
        [cdkDropListDisabled]="!canDragTabs"
        [cdkDropListData]="spiderItems()"
        cdkDropListElementContainer=".mat-mdc-tab-labels"
        (cdkDropListDropped)="dropTab($event)"
        [selectedIndex]="selected()"
        (selectedIndexChange)="onTabChange($event)">
        <mat-tab [label]="'spider.testArea' | translate">
          <div formGroupName="testData">
            <div class="form-group mb-2">
              <label>{{ 'spider.testPrimeKeyList' | translate }}</label>
              <code-editor
                formControlName="primeKeyListJson"
                [language]="'json'"
                [indentWithTab]="true"
                [languages]="languages" />
              <label class="form-text w-100">{{
                'spider.testPrimeKeyListDesc' | translate
              }}</label>
              <button type="button" class="btn btn-primary">
                {{ 'spider.test' | translate }}
              </button>
            </div>

            <div class="form-group mb-2">
              <div>{{ 'spider.testUrl' | translate }}</div>
              <input
                class="form-control mb-2"
                formControlName="url"
                trimOnBlur />
              <button type="button" class="btn btn-primary">
                {{ 'spider.test' | translate }}
              </button>
            </div>
            <div class="form-group mb-2">
              <label>{{ 'spider.testResultJson' | translate }}</label>
              <code-editor
                formControlName="resultJson"
                [language]="'json'"
                [indentWithTab]="true"
                [languages]="languages" />
            </div>
          </div>
        </mat-tab>
        @for (item of spiderItems(); track $index; let index = $index) {
          @let spiderItemId = getMappingItemId(index);
          <mat-tab>
            <ng-template mat-tab-label>
              <span
                cdkDrag
                cdkDragRootElement=".mat-mdc-tab"
                [cdkDragDisabled]="!canDragTabs"
                class="me-1">
                {{ spiderItemId ?? '(' + ('g.unnamed' | translate) + ')' }}
              </span>
            </ng-template>

            <app-spider-item
              [initData]="item"
              [index]="index"
              [mappingsRx]="mappingsRx"
              [spiderId]="spiderId() ?? ''"></app-spider-item>
          </mat-tab>
        }
      </mat-tab-group>
    </form>
  </div>
</div>
