<h2 mat-dialog-title>{{ 'title.inputUrl' | translate }}</h2>
<mat-dialog-content>
  <div class="my-1">
    <textarea class="form-control" [(ngModel)]="value"></textarea>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="value.set('')">
    {{ 'g.clear' | translate }}
  </button>
  <button mat-button (click)="onNoClick()">
    {{ 'g.no' | translate }}
  </button>
  <button mat-button cdkFocusInitial [mat-dialog-close]="value()">
    {{ 'g.ok' | translate }}
  </button>
</mat-dialog-actions>
