.img-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: relative;
  height: 33vh;
  > img {
    position: absolute !important;
    padding: 0.25rem;
    background-color: #fff;
    border-radius: 0.25rem;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}
