.go-to-top {
  position: fixed;
  bottom: 60px;
  right: 20px;
  background-color: #2196f3;
  color: #fff;
  width: 2rem;
  height: 2rem;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  box-shadow:
    0 2px 4px -1px rgba(0, 0, 0, 0.2),
    0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
  transition:
    background-color 0.2s,
    color 0.2s,
    box-shadow 0.2s;
  > .mat-icon {
    margin: 4px;
  }
}
.fade-in {
  animation: fade-in 100ms ease-in;
}
.fade-out {
  animation: fade-out 100ms ease-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    display: none;
  }

  100% {
    opacity: 1;
    display: block;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    display: block;
  }

  100% {
    opacity: 0;
    display: none;
  }
}
