<label class="h3">{{ 'otherSetting.title' | translate }}</label>
<div class="card mb-3">
  <div class="card-body">
    <app-theme-item-manage
      [headerId]="headerId()"
      [type]="eThemeItemType.OTHERSETTING"
      [form]="form"
      [defaultBinding]="defaultBinding()">
    </app-theme-item-manage>
    <form [formGroup]="group()" class="theme-other-setting">
      @if (themeHeaderType() === eThemeHeaderType.table) {
        <app-chip-input-color
          [(chipList)]="rowColor.value"
          [label]="'otherSetting.rowColor' | translate"
          [canUpdate]="checkColor"></app-chip-input-color>
        <button class="btn btn-primary" (click)="setDefaultColor()">
          {{ 'otherSetting.defaultColor' | translate }}
        </button>
        <div class="my-2">
          <mat-checkbox formControlName="showDuplicate">
            {{ 'themeTopCustom.displayDuplicateButton' | translate }}
          </mat-checkbox>
        </div>
      } @else if (themeHeaderType() === eThemeHeaderType.imageList) {
        <div class="mb-3">
          <label class="form-label">{{
            'otherSetting.listPageSize' | translate
          }}</label>
          <input
            type="number"
            class="form-control"
            formControlName="listPageSize" />
          @if (listPageSize.invalid && listPageSize.touched) {
            <div class="text-danger small">
              {{
                listPageSize.errors?.['required']
                  ? ('otherSetting.listPageSizeRequired' | translate)
                  : listPageSize.errors?.['min']
                    ? ('otherSetting.listPageSizeMin' | translate)
                    : ''
              }}
            </div>
          }
        </div>
        <div class="mb-3">
          <label class="form-label">{{
            'otherSetting.checkFileExist' | translate
          }}</label>
          <input
            class="form-control"
            [placeholder]="'otherSetting.checkFileExistPH' | translate"
            formControlName="checkFileExist"
            trimOnBlur />
        </div>
        <div class="mb-3">
          <label class="form-label">{{
            'otherSetting.quickRefresh' | translate
          }}</label>
          <div>
            <mat-checkbox formControlName="useQuickRefresh">
              {{ 'otherSetting.useQuickRefresh' | translate }}
            </mat-checkbox>
          </div>
        </div>

        @if (useQuickRefresh.value) {
          <div
            class="d-flex gap-2 justify-content-start align-items-center mb-2">
            @if (useSpiderControl.value) {
              <mat-chip
                >{{ useSpiderControl.value }}
                <button matChipRemove (click)="useSpiderControl.setValue('')">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
            }
            <button
              class="btn btn-outline-primary d-flex"
              (click)="selectUseSpider()">
              <mat-icon class="material-icons-outlined"
                ><span class="material-symbols-outlined">
                  select_window_2
                </span></mat-icon
              >
            </button>
          </div>
          @if (useSpiderControl.invalid && useSpiderControl.touched) {
            <div class="text-danger small">
              {{ 'otherSetting.useSpiderRequired' | translate }}
            </div>
          }
          <div class="mb-3">
            <mat-radio-group formControlName="quickRefreshType">
              <mat-radio-button [value]="eQuickRefreshType.params">{{
                'otherSetting.refreshByParams' | translate
              }}</mat-radio-button>
              <mat-radio-button [value]="eQuickRefreshType.url">{{
                'otherSetting.refreshByUrl' | translate
              }}</mat-radio-button>
            </mat-radio-group>
            @if (quickRefreshType.invalid && quickRefreshType.touched) {
              <div class="text-danger small">
                {{ 'otherSetting.refreshTypeRequired' | translate }}
              </div>
            }
            <input
              class="form-control"
              [placeholder]="'otherSetting.quickRefreshPH' | translate"
              formControlName="quickRefresh"
              trimOnBlur />
            @if (quickRefresh.invalid && quickRefresh.touched) {
              <div class="text-danger small">
                {{
                  quickRefresh.errors?.['required']
                    ? ('otherSetting.quickRefreshRequired' | translate)
                    : ''
                }}
              </div>
            }
          </div>
        }
      }
    </form>
  </div>
</div>
