<label class="h3">{{ 'otherSetting.title' | translate }}</label>
@if (type === 'table') {
  <app-chip-input
    [type]="'color'"
    [(chipList)]="themeOtherSetting.rowColor"
    [label]="'otherSetting.rowColor' | translate"
    [canUpdate]="checkColor"></app-chip-input>
  <button class="btn btn-primary" (click)="setDefaultColor()">
    {{ 'otherSetting.defaultColor' | translate }}
  </button>
  <div class="my-2">
    <mat-checkbox [(ngModel)]="themeOtherSetting.showDuplicate">
      {{ 'themeTopCustom.displayDuplicateButton' | translate }}
    </mat-checkbox>
  </div>
}
@if (type === 'imageList') {
  <div class="mb-3">
    <label class="form-label">{{
      'otherSetting.listPageSize' | translate
    }}</label>
    <input
      type="number"
      class="form-control"
      [(ngModel)]="themeOtherSetting.listPageSize" />
  </div>
  <div class="mb-3">
    <label class="form-label">{{
      'otherSetting.checkFileExist' | translate
    }}</label>
    <input
      class="form-control"
      [placeholder]="'otherSetting.checkFileExistPH' | translate"
      [(ngModel)]="themeOtherSetting.checkFileExist" />
  </div>
}
<label class="h3">{{ 'title.topCustom' | translate }}</label>
<app-theme-top-custom-table
  [(list)]="themeOtherSetting.themeTopCustomList"></app-theme-top-custom-table>
