<label class="h3">{{ 'themeDB.title' | translate }}</label>
<div class="card mb-3">
  <table mat-table [dataSource]="themeDBList" multiTemplateDataRows>
    <ng-container matColumnDef="order">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'themeLabel.order' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.seq }}
      </td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'themeDB.type' | translate }}
      </th>
      <td mat-cell *matCellDef="let element; let i = dataIndex">
        <select
          [(ngModel)]="element.type"
          name="dbType{{ i }}"
          class="form-control"
          style="width: 120px">
          @for (type of eThemeDBType | keyvalue; track $index) {
            <option [value]="type.key">
              {{ 'themeDB.' + type.key | translate }}
            </option>
          }
        </select>
      </td>
    </ng-container>
    <ng-container matColumnDef="source">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'themeDB.source' | translate }}
      </th>
      <td mat-cell *matCellDef="let element; let i = dataIndex">
        <input
          class="form-control"
          name="dbSource{{ i }}"
          [(ngModel)]="element.source"
          [placeholder]="'themeDB.' + element.type + 'Ph' | translate" />
      </td>
    </ng-container>
    <ng-container matColumnDef="label">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'themeDB.name' | translate }}
      </th>
      <td mat-cell *matCellDef="let element; let i = dataIndex">
        <input
          class="form-control"
          name="dbLabel{{ i }}"
          [(ngModel)]="element.label" />
      </td>
    </ng-container>
    <ng-container matColumnDef="group">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'themeDB.groupLabel' | translate }}
      </th>
      <td mat-cell *matCellDef="let element; let i = dataIndex">
        <input
          class="form-control"
          name="dbGroup{{ i }}"
          [(ngModel)]="element.groups" />
      </td>
    </ng-container>
    <ng-container matColumnDef="other">
      <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
      <td mat-cell *matCellDef="let element; let i = dataIndex">
        <div class="row flex-nowrap">
          <div class="flex column align-content-center" style="width: 48px">
            @if (i !== 0) {
              <mat-icon class="dropupdown-icon up" (click)="onUpDown(i, 'up')"
                >arrow_drop_up</mat-icon
              >
            }
            @if (i !== themeDBList.length - 1) {
              <mat-icon
                class="dropupdown-icon down"
                (click)="onUpDown(i, 'down')"
                >arrow_drop_down</mat-icon
              >
            }
          </div>
          <button mat-icon-button (click)="onDelete(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="add">
      <td
        mat-footer-cell
        *matFooterCellDef
        [attr.colspan]="displayedColumns.length">
        <div class="row justify-content-center">
          <button mat-button class="rounded" (click)="onAdd()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="expandedDetail">
      <td
        mat-cell
        *matCellDef="let element; let i = dataIndex"
        [attr.colspan]="displayedColumns.length">
        <div class="d-flex">
          <div class="column p-1">
            <mat-checkbox
              [checked]="element.isDefault"
              [(ngModel)]="element.isDefault"
              (change)="changeDefaultKey($event, i)">
              {{ 'themeDB.isDefault' | translate }}
            </mat-checkbox>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']"></tr>
    <tr mat-footer-row *matFooterRowDef="['add']"></tr>
  </table>
</div>
