@use '@angular/material' as mat;

$theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
  )
);

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;

  @include mat.all-component-themes($theme);
}

html,
body {
  height: 100%;
  margin: 0px;
}

@include mat.core();
@include mat.color-variants-backwards-compatibility($theme);
