@use '@angular/material' as mat;

$theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
  )
);

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;

  @include mat.all-component-themes($theme);
}

html,
body {
  height: 100%;
  margin: 0px;
}

@include mat.core();
@include mat.color-variants-backwards-compatibility($theme);

.NgxEditor__MenuBar {
  background-color: transparent !important;
}

.scrollbar-primary::-webkit-scrollbar {
  width: 10px;
}

.scrollbar-primary::-webkit-scrollbar-track-piece {
  background: none;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}
ngx-editor.disabled > div.NgxEditor {
  background: transparent;
  border: none;
  > .NgxEditor__Content--Disabled {
    -webkit-user-select: text;
    user-select: text;
    pointer-events: auto;
  }
}

.full-screen-dialog .mat-mdc-dialog-surface {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  max-height: 100vh;
  box-shadow: none;
  border-radius: 0px;
  .mat-mdc-dialog-content {
    max-height: unset !important;
  }
}

.require::before {
  content: '*';
  color: red;
  margin-right: 4px; /* 可調整間距 */
}
.expand-row > td {
  border-bottom-width: 0;
}

.dropupdown-icon {
  display: inline-block;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    color 0.3s ease; /* 0.3s 的動畫時間和過渡效果 */
  &.up:hover {
    transform: translateY(-0.125rem); /* 向下移動 0.125rem */
    color: lightblue;
  }
  &.down:hover {
    transform: translateY(0.125rem); /* 向下移動 0.125rem */
    color: lightblue;
  }
}
