@use '@angular/material' as mat;

$theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
  )
);

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;

  @include mat.all-component-themes($theme);
}

html,
body {
  height: 100%;
  margin: 0px;
}

@include mat.core();
@include mat.color-variants-backwards-compatibility($theme);

.NgxEditor__MenuBar {
  background-color: transparent !important;
}

.scrollbar-primary {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

.scrollbar-primary::-webkit-scrollbar {
  width: 10px;
}

.scrollbar-primary::-webkit-scrollbar-track-piece {
  background: none;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}

ngx-editor.disabled > div.NgxEditor {
  background: transparent;
  border: none;
  > .NgxEditor__Content--Disabled {
    -webkit-user-select: text;
    user-select: text;
    pointer-events: auto;
  }
}

.full-screen-dialog .mat-mdc-dialog-surface {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  max-height: 100vh;
  box-shadow: none;
  border-radius: 0px;
  .mat-mdc-dialog-content {
    max-height: unset !important;
  }
}

.require::before {
  content: '*';
  color: red;
  margin-right: 4px; /* 可調整間距 */
}
.expand-row > td {
  border-bottom-width: 0;
}

.dropupdown-icon {
  display: inline-block;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    color 0.3s ease; /* 0.3s 的動畫時間和過渡效果 */
  &.up:hover {
    transform: translateY(-0.125rem); /* 向下移動 0.125rem */
    color: lightblue;
  }
  &.down:hover {
    transform: translateY(0.125rem); /* 向下移動 0.125rem */
    color: lightblue;
  }
}

.drag-cursor {
  margin-right: 16px;
  cursor: move;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
  background-color: white;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .mat-row:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

body.lock-scrollbar {
  overflow-y: scroll !important;
  position: fixed !important;
  width: 100%; /* 避免因 scroll 條寬度而變窄 */
  top: 0;
  left: 0;
  right: 0;
}

body.lock-scrollbar-firefox {
  overflow: hidden;
}
